postgresql:
  host: localhost
  port: 5432
  db_name: root
  user: root
  password: helloworld123
  pool_size: 10
  timeout: 5000
  
elasticsearch:
  host: localhost
  port: 9200
  index: my_index
  timeout: 3000
redis:
  host: localhost
  port: 6379
  db: 0
  password: null
  pool_size: 5
  timeout: 2000